@import '../../../../../styles/colors.scss';
@import '../../../../../styles/styles.scss';

.section {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;

  @media screen and (max-width: 1050px) {
    flex-direction: column-reverse;
  }
}
