@import '../../../../styles/colors.scss';
@import '../../../../styles/styles.scss';

.sectionText {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  opacity: 0;
  width: 800px;

  @media screen and (max-width: 1050px) {
    width: 500px;
  }

  @media screen and (max-width: 570px) {
    width: 200px;
  }

  &.visible {
    opacity: 1;
    @extend %showAnimRight;
    animation-delay: 0s;
  }

  h2 {
    position: relative;
    z-index: 2;

    @extend %titleGragientBlueLeft;
    @extend %sectionTitle;
  }

  p {
    margin-top: 2rem;

    width: 350px;

    @media screen and (max-width: 570px) {
      width: 200px;
    }
    @extend %p1;
  }

  .img {
    position: absolute;
    z-index: 1;
    opacity: 0.03;
    display: flex;
    justify-content: center;
    align-items: center;

    img {
      width: 200px;
      height: auto;

      @media screen and (max-width: 1050px) {
        width: 100px;
      }
    }
  }
}
