@import '../../../../styles/colors.scss';
@import '../../../../styles/typography.scss';
@import '../../../../styles/styles.scss';

.user {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;

  button {
    display: flex;
    align-items: center;
    justify-content: center;
  }
}
