@import '../../../../../styles/colors.scss';
@import '../../../../../styles/styles.scss';

.description {
  // width: 30%;
  margin-top: -30rem;
  @extend %showAnimUp;
  animation-delay: 0.5s;

  @media screen and (max-width: 1050px) {
    margin-top: -20rem;
  }

  @media screen and (max-width: 570px) {
    width: 70%;
  }
  .descriptionText {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;

    @extend %p1;

    dfn {
      text-transform: uppercase;
      margin-bottom: 2rem;
      @extend %h1;
    }
  }
}

.cloud {
  opacity: 0.5;
  width: 100%;
  height: auto;
  position: relative;
  z-index: 10;

  @extend %showAnimZoom;

  animation-delay: 0.5s;
}

.cloudRight {
  position: absolute;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;

  .imgBlock {
    position: absolute;
    z-index: 2;
    opacity: 0.4;
    display: flex;
    justify-content: center;
    align-items: center;

    @extend %showAnimZoom;
  }

  .zip {
    bottom: 26%;
    right: 41%;
    border-radius: 7px;
    width: 27px;
    padding-right: 1rem;

    animation-delay: 2s;

    @media screen and (max-width: 1050px) {
      width: 18px;
    }

    @media screen and (max-width: 570px) {
      padding-right: 0.5rem;
      right: 35%;
    }

    img {
      width: 50px;
      height: auto;
    }
  }

  .doc {
    bottom: 29%;
    right: 24%;
    border-radius: 7px;
    width: 38px;

    animation-delay: 2.5s;

    @media screen and (max-width: 1050px) {
      width: 30px;
    }

    @media screen and (max-width: 570px) {
      right: 17%;
      width: 24px;
    }

    img {
      width: 50px;
      height: auto;
    }
  }

  .telegram {
    top: 50%;
    left: 26%;
    box-shadow: none;
    border: none;

    animation-delay: 1s;

    img {
      width: 70px;
      height: auto;
      transform: scaleX(-1);
    }

    @media screen and (max-width: 570px) {
      left: 20%;
    }
  }

  .img {
    bottom: 34%;
    left: 40%;
    border-radius: 10px;
    animation-delay: 1.5s;

    @media screen and (max-width: 570px) {
      left: 37%;
    }

    img {
      width: 50px;
      height: auto;
    }
  }

  .folder {
    top: 40%;
    right: 15%;

    box-shadow: none;
    border: none;
    animation-delay: 3s;

    @media screen and (max-width: 570px) {
      right: 16%;
      top: 30%;
    }
  }

  .imgBlock {
    img {
      @media screen and (max-width: 1050px) {
        width: 40px;
      }
      @media screen and (max-width: 570px) {
        width: 25px;
      }
    }
  }
}
