@import '../../../../styles/colors.scss';
@import '../../../../styles/typography.scss';

.empty {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  .img {
    height: auto;

    @media screen and (max-width: 1050px) {
      width: 350px;
    }

    @media screen and (max-width: 570px) {
      width: 100px;
    }
  }

  p {
    @extend %p1;
  }
}
