@import '../../../../styles/colors.scss';
@import '../../../../styles/styles.scss';

.section {
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin-top: 3rem;

  .titleBlock {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    opacity: 0;

    h2 {
      font-size: 40px;
      font-weight: 700;
      text-transform: uppercase;
      color: $blue;
      position: relative;
      z-index: 2;

      @extend %titleGragientBlue;
    }

    .infinity {
      position: absolute;
      z-index: 1;
      opacity: 0.03;
    }
  }

  &.visible {
    .titleBlock {
      @extend %showAnimRight;
      opacity: 1;
    }
  }
}
