@import '../../../../styles/colors.scss';
@import '../../../../styles/styles.scss';

.section {
  width: 100%;
  display: flex;
  justify-content: flex-start;

  .item {
    width: 50%;
    display: flex;
    justify-content: center;
    align-items: center;

    svg {
      color: $blue;
    }
  }
}
