@import '../../../../styles/colors.scss';
@import '../../../../styles/typography.scss';
@import '../../../../styles/styles.scss';

.item {
  width: 100%;
  &:hover {
    background-color: rgba($black, 0.3);
  }

  button {
    color: $black;
    @extend %nameFile;
    line-height: 1;
    margin: 0;
    width: 100%;
    justify-content: flex-start;

    svg {
      margin-right: 1rem;
    }
  }

  &:has(.iconDelete) {
    button,
    svg {
      color: $red;
    }
  }
}
