@import '../../../../styles/colors.scss';
@import '../../../../styles/styles.scss';
@import '../../../../styles/typography.scss';

.tooltip {
  display: flex;
  box-sizing: border-box;
  flex-direction: column;
  padding: 1rem;
  border-radius: 5px;
  position: fixed;
  bottom: 1rem;
  left: 1rem;
  z-index: 10000;
  opacity: 0;

  background-color: $white;
  color: $black;

  &.show {
    @extend %showAnimTooltip;
  }

  p {
    @extend %p2;
    text-align: start;
  }

  &.error {
    background-color: $red;

    p {
      color: $white;
    }
  }
}
