@import '../../../../styles/colors.scss';
@import '../../../../styles/styles.scss';
@import '../../../../styles/typography.scss';

.filter {
  width: 100%;
  display: flex;
  flex-direction: column;

  .item {
    margin-bottom: 1rem;
    &:last-child {
      margin: 0;
    }

    &.active {
      button {
        background-color: rgba($white, 0.3);
      }
    }

    button {
      width: 100%;
      display: flex;
      justify-content: flex-start;
      align-items: center;
      padding: 0.5rem 1rem;
      line-height: 1;

      svg {
        margin-right: 1rem;
      }
    }
  }
}
