@import '../../../../styles/colors.scss';
@import '../../../../styles/styles.scss';
@import '../../../../styles/typography.scss';

.bottom {
  position: absolute;
  width: 100%;
  bottom: 5rem;
  display: flex;
  justify-content: center;
  align-items: center;

  color: $gold;

  svg {
    width: 30px;
  }

  p {
    margin-right: 1rem;
    line-height: 1;
    @extend %p1;
  }
}
