@import '../../../../styles/colors.scss';
@import '../../../../styles/styles.scss';
@import '../../../../styles/typography.scss';

.container {
  width: 100%;

  .btn {
    margin-top: 10rem;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;

    button {
      background-color: $gold;
      color: $black;
      font-size: 16px;

      @media screen and (max-width: 570px) {
        font-size: 14px;
      }
    }
  }
}
