@import '../../../../styles/colors.scss';
@import '../../../../styles/typography.scss';
@import '../../../../styles/styles.scss';

.contextMenu {
  position: fixed;
  z-index: 1;
  width: max-content;
  padding: 1rem 0;
  background-color: $white;
  opacity: 0;
  visibility: hidden;
  @extend %shadow;
  border-radius: 5px;

  &.open {
    opacity: 1;
    visibility: visible;
    @extend %showAnimPopup;
  }

  .menu {
    .item {
      width: 100%;
      &:hover {
        background-color: rgba($black, 0.3);
      }

      button {
        color: $black;
        @extend %nameFile;
        line-height: 1;
        margin: 0;
        width: 100%;
        justify-content: flex-start;

        svg {
          margin-right: 1rem;
        }

        .iconFolder {
          color: $gold;
        }
      }
    }
  }
}
