@import '../../../../styles/colors.scss';
@import '../../../../styles/typography.scss';
@import '../../../../styles/styles.scss';

.modal {
  opacity: 0;
  visibility: hidden;
  position: absolute;
  width: 100vw;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  top: 0;
  right: 0;
  z-index: 1000;
  background-color: rgba(31, 41, 54, 0);
  transition: all 0.2s linear;

  &.open {
    opacity: 1;
    visibility: visible;
    @extend %bgColorShow;

    div {
      @extend %showAnimZoomMin;
      animation-delay: 0s;
    }
  }
}
