@import '../../../../styles/colors.scss';
@import '../../../../styles/styles.scss';

.section {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;

  .description {
    // width: 30%;
    margin-top: -30rem;
    @extend %showAnimUp;
    animation-delay: 0.5s;
    .descriptionText {
      display: flex;
      justify-content: center;
      align-items: center;
      flex-direction: column;
      font-size: 20px;
      text-align: center;
      line-height: 1.5;
      dfn {
        color: $blue;
        font-size: 44px;
        text-transform: uppercase;
        margin-bottom: 2rem;
        font-weight: 700;
      }
    }
  }

  .cloud {
    opacity: 0.5;
    // width: 100%;
    height: auto;
    position: relative;
    z-index: 10;

    @extend %showAnimZoom;
    animation-delay: 0.5s;
  }

  .cloudRight {
    position: absolute;

    .imgBlock {
      position: absolute;
      z-index: 2;
      opacity: 0.4;
      display: flex;
      justify-content: center;
      align-items: center;
    }

    .zip {
      bottom: 26%;
      right: 41%;
      border-radius: 7px;
      width: 27px;
      padding-right: 1rem;

      @extend %neonBorderAnim;
      @extend %showAnimZoom;
      animation-delay: 2s;

      img {
        width: 50px;
        height: auto;
      }
    }

    .doc {
      bottom: 29%;
      right: 24%;
      border-radius: 7px;
      width: 38px;
      @extend %neonBorderAnim;
      @extend %showAnimZoom;
      animation-delay: 2.5s;

      img {
        width: 50px;
        height: auto;
      }
    }

    .telegram {
      top: 50%;
      left: 26%;

      @extend %showAnimZoom;
      animation-delay: 1s;

      img {
        width: 70px;
        height: auto;
        transform: scaleX(-1);
      }
    }

    .img {
      bottom: 34%;
      left: 40%;
      border-radius: 10px;

      @extend %neonBorderAnim;
      @extend %showAnimZoom;
      animation-delay: 1.5s;

      img {
        width: 50px;
        height: auto;
      }
    }

    .folder {
      top: 40%;
      right: 15%;

      @extend %showAnimZoom;
      animation-delay: 3s;
    }
  }
}
