@import '../../../../styles/colors.scss';
@import '../../../../styles/styles.scss';
@import '../../../../styles/typography.scss';

.messageContent {
  display: flex;
  box-sizing: border-box;
  flex-direction: column;
  padding: 1rem;
  border-radius: 5px;
  position: relative;
  width: 300px;

  background-color: $white;
  color: $black;

  h1 {
    @extend %p1;
    line-height: 1;
    text-align: start;
    margin-bottom: 1rem;

    &.error {
      color: $red;
    }
  }

  p {
    @extend %p2;
    text-align: start;
  }

  .btns {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 1rem;
    button {
      background-color: transparent;
      color: $red;
      padding: 0.7rem 1rem;

      &:last-child {
        color: $black;
        &:hover {
          color: $gren;
        }
      }
    }
  }

  .close {
    position: absolute;
    top: 1rem;
    right: 1rem;
    transition: all 0.2s linear;
    transform: rotate(0deg);

    font-size: 20px;
    color: $black;
    cursor: pointer;

    &:hover {
      color: $red;
      transform: rotate(180deg);
    }
  }
}
