@import '../../../../styles/colors.scss';
@import '../../../../styles/styles.scss';
@import '../../../../styles/typography.scss';

.breadCrumbs {
  .crumbs {
    display: flex;
    justify-content: flex-start;
    align-items: center;

    li {
      cursor: pointer;
      color: $black;
      display: flex;
      justify-content: center;
      align-items: center;

      .iconBack {
        opacity: 0.5;
        font-size: 30px;
      }

      &:first-child {
        margin-right: 1rem;
      }

      span {
        opacity: 0.5;
        @extend %p2;
      }

      .arrow {
        margin: 0 0.5rem;
      }

      &:last-child {
        cursor: not-allowed;
      }

      &:hover {
        .nameFolder,
        .iconBack {
          opacity: 1;
        }
        &:last-child {
          opacity: 0.5;
        }
      }
    }
  }
}
