@import '../../../../styles/colors.scss';
@import '../../../../styles/styles.scss';

.section {
  display: flex;
  align-items: center;
  margin-top: 20rem;

  .item {
    width: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
  }
}
