@import '../../../../styles/colors.scss';
@import '../../../../styles/styles.scss';
@import '../../../../styles/typography.scss';

.folders {
  background-color: rgba($white, 0.8);
  max-width: 537px;
  border-radius: 10px;
  padding: 1rem;
  display: flex;
  flex-wrap: wrap;
  position: relative;
  opacity: 0;

  @media screen and (max-width: 1050px) {
    width: 80%;
  }

  &.visible {
    opacity: 1;
    @extend %showAnimZoom;
    animation-delay: 0s;

    .item {
      margin-right: 0.5rem;
      margin-bottom: 0.5rem;

      &:last-child {
        margin: 0;
      }
      @extend %showAnimZoom;
    }
  }

  .infinity {
    position: absolute;
    bottom: -15%;
    right: -5%;
    width: 100%;
    display: flex;
    justify-content: flex-end;
  }
}
