@import '../../../../styles/colors.scss';
@import '../../../../styles/styles.scss';
@import '../../../../styles/typography.scss';

.folders {
  background-color: rgba($white, 0.8);
  max-width: 490px;
  border-radius: 10px;
  padding: 1rem;
  display: flex;
  flex-wrap: wrap;
  position: relative;
  opacity: 0;

  @media screen and (max-width: 1050px) {
    width: 80%;
  }

  &.visible {
    opacity: 1;
    @extend %showAnimZoom;
    animation-delay: 0s;

    .item {
      // margin-right: 0.5rem;
      // margin-bottom: 0.5rem;
      padding: 0.5rem;

      img {
        margin-top: 1rem;
        @media screen and (max-width: 1050px) {
          margin: 0;
        }
      }

      .folder {
        box-sizing: border-box;
        max-width: 70px;
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        align-items: center;

        @media screen and (max-width: 1050px) {
          max-width: 60px;
        }
        @media screen and (max-width: 570px) {
          max-width: 40px;
        }
        .folderIcon {
          width: 70px;
          height: auto;

          @media screen and (max-width: 1050px) {
            width: 40px;
          }

          @media screen and (max-width: 570px) {
            width: 30px;
          }
        }
        .folderName {
          @extend %nameFile;
          margin-top: -1rem;
          // word-break: break-all;

          @media screen and (max-width: 1050px) {
            margin: 0;
          }
        }
      }

      &:last-child {
        margin: 0;
      }
      @extend %showAnimZoom;
    }
  }

  .infinity {
    position: absolute;
    bottom: -15%;
    right: -5%;
    width: 100%;
    display: flex;
    justify-content: flex-end;
  }
}
