@import '../../../../../styles/colors.scss';
@import '../../../../../styles/styles.scss';

.item {
  width: 50%;
  display: flex;
  justify-content: center;
  align-items: center;

  @media screen and (max-width: 1050px) {
    width: 70%;
    &:first-child {
      margin-top: 5rem;
    }
  }

  @media screen and (max-width: 570px) {
    width: 100%;
  }

  svg {
    color: $blue;

    @media screen and (max-width: 1050px) {
      width: 50%;
    }
  }
}
