$bg: #1e1e1e;
$white: #ffffff;
$bgDisk: rgba($bg, 0.8);
$bgHeader: rgba(31, 41, 54, 0.5);
$bgDiskRight: rgba($white, 0.5);
$bgModal: rgba(31, 41, 54, 0.8);
$blue: #5eb5f7;
$black: #000000;
$gold: #fcd462;
$gren: #0fa;
$gray: #cccccc;
$red: red;
