@import './colors.scss';

%h1 {
  color: $blue;
  font-size: 44px;
  font-weight: 700;

  @media screen and (max-width: 1050px) {
    font-size: 32px;
  }

  @media screen and (max-width: 570px) {
    font-size: 18px;
  }
}

%h3 {
  font-size: 16px;
  font-weight: 700;
  line-height: normal;

  @media screen and (max-width: 1050px) {
    font-size: 14px;
  }

  @media screen and (max-width: 570px) {
    font-size: 12px;
  }
}

%h4 {
  font-size: 16px;

  @media screen and (max-width: 1050px) {
    font-size: 12px;
  }

  @media screen and (max-width: 570px) {
    font-size: 10px;
  }
}

%p1 {
  font-size: 18px;
  text-align: center;
  line-height: 1.5;

  @media screen and (max-width: 570px) {
    font-size: 14px;
  }
}

%nameFile {
  margin-top: 0.5rem;
  text-align: center;
  font-size: 14px;
  line-height: 1.4;
  color: $black;

  @media screen and (max-width: 1050px) {
    font-size: 11px;
  }

  @media screen and (max-width: 570px) {
    font-size: 7px;
  }
}

%sectionTitle {
  font-size: 50px;
  font-weight: 700;
  line-height: 1.2;
  text-transform: uppercase;
  color: $blue;
  text-align: center;
  @media screen and (max-width: 1050px) {
    font-size: 40px;
  }

  @media screen and (max-width: 570px) {
    font-size: 20px;
  }
}

%titleGragient {
  background: rgb(252, 212, 98);
  background: linear-gradient(
    90deg,
    rgba(252, 212, 98, 1) 50%,
    rgba(236, 240, 243, 1) 100%
  );
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

%titleGragientBlue {
  background: rgb(94, 181, 247);
  background: linear-gradient(
    90deg,
    rgba(94, 181, 247, 1) 50%,
    rgba(255, 255, 255, 1) 100%
  );
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

%titleGragientBlueLeft {
  background: rgb(94, 181, 247);
  background: linear-gradient(
    270deg,
    rgba(94, 181, 247, 1) 50%,
    rgba(255, 255, 255, 1) 100%
  );
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

%neonBorderAnim {
  animation: pulsate 1.5s infinite alternate;
  border: 1px solid #fff;
  box-shadow: 0 0 0.2rem #fff, 0 0 0.2rem #fff, 0 0 2rem $blue, 0 0 0.8rem $blue,
    0 0 2.8rem $blue, inset 0 0 1.3rem $blue;

  @keyframes pulsate {
    100% {
      text-shadow: 0 0 4px #fff, 0 0 11px #fff, 0 0 19px #fff, 0 0 40px $blue,
        0 0 80px $blue, 0 0 90px $blue, 0 0 100px $blue, 0 0 150px $blue;
    }
    0% {
      text-shadow: 0 0 2px #fff, 0 0 4px #fff, 0 0 6px #fff, 0 0 10px $blue,
        0 0 45px $blue, 0 0 55px $blue, 0 0 70px $blue, 0 0 80px $blue;
    }
  }
}

%showAnimZoom {
  animation-name: showBlock;
  animation-duration: 0.5s;
  animation-timing-function: cubic-bezier(0.175, 0.885, 0.32, 1.275);
  animation-iteration-count: 1;
  animation-delay: 0.5s;
  animation-fill-mode: forwards;
  transform: scale(0);

  @keyframes showBlock {
    0% {
      transform: scale(0);
    }
    50% {
      transform: scale(1.2);
    }
    100% {
      transform: scale(1);
    }
  }
}

%showAnimUp {
  animation-name: showBlockUp;
  animation-duration: 0.5s;
  animation-timing-function: cubic-bezier(0.175, 0.885, 0.32, 1.275);
  animation-iteration-count: 1;
  animation-delay: 0.5s;
  animation-fill-mode: forwards;
  transform: translateY(-80vh);

  @keyframes showBlockUp {
    0% {
      transform: translateY(-80vh);
    }
    100% {
      transform: translateY(0);
    }
  }
}

%showAnimRight {
  animation-name: showBlockRight;
  animation-duration: 0.5s;
  animation-timing-function: cubic-bezier(0.175, 0.885, 0.32, 1.275);
  animation-iteration-count: 1;
  animation-delay: 0.5s;
  animation-fill-mode: forwards;
  transform: translateX(300%);

  @keyframes showBlockRight {
    0% {
      transform: translateX(300%);
    }
    100% {
      transform: translateX(0);
    }
  }
}

%progressAnim {
  animation-name: progressBlock;
  animation-duration: 1.5s;
  animation-timing-function: cubic-bezier(0.075, 0.82, 0.165, 1);
  animation-delay: 0.5s;
  animation-fill-mode: forwards;
  width: 0%;

  @keyframes progressBlock {
    0% {
      width: 0%;
    }
    100% {
      width: 40%;
    }
  }
}

%pulseAnim {
  box-shadow: 0 0 0 0 rgba(255, 255, 255, 0.4);
  animation: pulse 2s infinite;

  &:hover {
    animation: none;
  }

  @keyframes pulse {
    0% {
      box-shadow: 0 0 0 0 rgba(223, 223, 223, 0.4);
    }
    70% {
      box-shadow: 0 0 0 20px rgba(151, 151, 151, 0);
    }
    100% {
      box-shadow: 0 0 0 0 rgba(134, 134, 134, 0);
    }
  }
}
