@import '../../../../styles/colors.scss';
@import '../../../../styles/styles.scss';
@import '../../../../styles/typography.scss';

.collages {
  position: relative;
  opacity: 0;

  @media screen and (max-width: 1050px) {
    width: 100vw;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  &.visible {
    opacity: 1;
    @extend %showAnimZoom;
  }
  .collage {
    position: absolute;
    bottom: -30%;
    right: -90%;
    z-index: -1;

    @media screen and (max-width: 1050px) {
      right: 0%;
    }

    @media screen and (max-width: 570px) {
      right: -8%;
    }
  }
}
